{{define "footer"}}
<footer>
  <div>
    Copyright © {{date "2006"}}&nbsp;
    <i style="color: red" class="iconfont icon-xiai"></i>&nbsp; {{.Title}}
  </div>
  <div>
    dwoura.top | Powered by <a href="https://www.dwoura.top" target="__blank">云纹天际博客</a>
    Golang
  </div>
  <div style="width:300px;margin:0 auto; padding:5px 0;">
    <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
      <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤ICP备20031370号</p></a>
  </div>

</footer>
{{ end }}
