{{define "personal"}}
<div class="personal">
  <div class="personal-box">
    <img class="personal-avatar" src="{{.Avatar}}" alt="{{.UserName}}" />
    <h1 class="personal-name">{{.UserName}}</h1>
    <p class="personal-desc">{{.UserDesc}}</p>
    <span class="gap-dashed"></span>
    <ul class="personal-action">
      <li>
        <i class="fa fa-twitter"></i>
        <a href="{{.Twitter}}" target="_blank"> Twitter</a>
      </li>
      <li>
        <i class="fa fa-github"></i>
        <a href="{{.Github}}" target="_blank"> Github</a>
      </li>
    </ul>
  </div>
  <span class="gap-solid"></span>
  <div class="personal-box">
    <div class="personal-cteg">
      <h2>分类：</h2>
      {{range $index,$elem := .Categorys}}
      <div>
        <i class="fa fa-tags"></i>
        <a href="/c/{{$elem.Cid}}">{{$elem.Name}}</a>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}